ul#fotos li span{
    opacity: 0;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    background-color: rgba(0,0,0,.3);
    font-size: 9pt;
    line-height: 370px;
    padding: 5px;
}

/*Aqui foi feito o zooom das imagens para todas as <LI> do programa*/

ul#fotos li:hover{
    -webkit-transform: scale(1.5);
    
}


ul#fotos li:hover span{
    opacity: 1;
}

ul#fotos{
    width: 700px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    list-style: none;

}
ul#fotos li{
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid white;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
    -webkit-transition: all .4s ease-in;

}
ul#fotos li#foto1{
    background: url("../_Imagens/formNot.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#fotos li#foto2{
    background: url("../_Imagens/game.png") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#fotos li#foto3{
    background: url("../_Imagens/antivirus.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}

/*Aqui faz a foto sair e voltar a posição original*/
ul#fotos li#foto1:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#fotos li#foto2:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#fotos li#foto3:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
